@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
	--font-family: "Volkhov", sans-serif;
	--font-link: "Poppins", sans-serif;

	--color-bg: #fff;
	--color-footer: linear-gradient(
		141deg,
		rgba(255, 255, 255, 1) 84%,
		rgba(240, 237, 247, 1) 100%,
		rgba(255, 255, 255, 1) 100%
	);

	--color-blog: #5e6282;

	--color-text: #181e4b;
	--color-subtext: #df6951;
}
